# Git
.git
.gitignore

# IDEs
.idea
.vscode
*.iml

# Build
target
build

# Logs
*.log

# Arquivos temporários
*.tmp
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Ambiente
.env
.env.*

# Docker
docker-compose.yml

# Documentação opcional
README.md
docs